<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>latest products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="#">AbaDrgam Co.ltd</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active ly">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            
              
               <li class="nav-item active ly">
                <form class="form-inline" method="POST" action="/comp/searchSm">
                <input style="border-radius: 10px; width: 350px; height: 40px;" type="text" name="username" placeholder="search by name">
                <button type="submit" class="btn btn-warning" style="margin-left: 3px; height: 40px;"> search</button>
                </form>
              </li>
               


              </ul>
              <ul class="navbar-nav navbar-right">
         
            <% if(user) { %>
              <li class="nav-item active">
                <a class="nav-link" href="/login/loggout-user">log out</a></li> 
            <% } %>
            </ul>

        </div>
</nav>

<div class="jumbo " >
  <div class="products">
    <span><a href="#" class="products"> smart collections</a></span>
    <span><a href="#" class="products"> brand collections</a></span>
    <span><a href="#" class="products"> zoufon collections</a></span>
    <span><a href="#" class="products"> men perfume</a></span>
    <span><a href="#" class="products"> women perfume</a></span>
    <span><a href="/comp/special-offer" class="products"> special offers</a></span>
  </div>
  <br> <br>
  <h1 style="color: rgb(158, 156, 156); margin-bottom: 10px;" class="text-center"> التوصيل مجانا داخل ولاية الخرطوم</h1>
    </div>
    <%- messages('messages', locals) %>

  <div class="container-fluid smP">
    <div class="row"> 
<% perfume.forEach((perfume)=>{ %>     
    <div class="col-md-3 col-sm-4  ">  
     <div class="card card2">
      <img class="img-sm" src="/img/<%=`${perfume.link}`%>" class="card-img-top">
       <div class="card-block card1">
        <h3 class="card-title"> <%= perfume.name %></h3> 
        <h5> <%=perfume.brand %> </h5>
        <h5> <%=perfume.catogry %> </h5>
        <h5> <%=perfume.price %> SDG </h5>
        <br>
        <a href="<%=`/comp/smart/${perfume._id}` %>" class="btn btn-primary">التفاصيل</a> <br>
    
        <p style="font-size: 17px;"> Contact aba dirgam On 0126414252</p>
            
      </div>
     </div>
     <hr>
    </div>
   
<% }) %>

    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script
</body>
</html>